.container {
  display:flex;
  /*background:blue;*/
  height: 100vh;
}


.leftColumn {
  /*background-color:red;*/
  flex:1;
  max-width:275px;
}

.rightColumn {
  flex:1;
  overflow-y: scroll;
}

.rightColumn_split {
  flex: 0 1 auto;
}

.rightColumn img {
  max-width:100%;
}

.editColumn {
  /*flex:1;*/
}
