.container {
  display:flex;
  /*background:blue;*/
  height: 100vh;
}

.container_drag_active:after {
}

.leftColumn {
  /*background-color:red;*/
  flex:1;
  max-width:275px;
}

.rightColumn {
  flex:1;
  overflow-y: scroll;
}

.rightColumn_split {
  /*flex: 0 1 auto;*/
  /*min-width:40vw;*/
}

.rightColumn img {
  max-width:100%;
}

.editColumn {
  /*flex:1;*/
  min-width:40rem;
}

.smartlink {

}

.smartlink span {
  padding-right:0.2rem;
}

.smartlink svg {
  height:0.7rem;
  display:inline-block;
  margin-bottom:0.2rem;
}
